@import url(./_theme/section-title_theme_dark.css);

.section-title {
  margin: 0;
  padding: 0;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  z-index: 2;
}
